@import "tailwindcss";

:root{
    --font-Inter: 'Inter Variable', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    font-family: var(--font-Inter);
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(13, 0, 18, 1) 50%, rgba(0, 0, 0, 1) 100%);
    color: white;
}