---
import Layout from "../layouts/Layout.astro";
import Home from "../sections/Home.astro";
import Nav from "../components/Nav.astro";
import Projects from "../sections/Projects.astro";
import Retro from "../sections/Retro.astro";
import Footer from "../components/Footer.astro";
import Words from "../sections/Words.astro";
---

<Layout title="Home">
  <Nav />
  <main>
    <Home />
    <Retro />
    <Projects />
    <Words />
  </main>
  <Footer />
</Layout>
