---
---
<div class="flex flex-col items-center justify-center mt-20">
  <div class="avatar avatar-online">
      <div class="w-30 rounded-full">
        <img src="./Me.avif" />
      </div>
    </div>
    <div class="lg:tooltip" data-tip="hello asdmalnskdkas kasnxklnaslkxdjaskljxlkas kasxklaslkxasl ">
      <button class="btn">Astro</button>
    </div>
  </div>
</div>