<div class="flex justify-center">
  <nav
    class="fixed top-7 z-10 bg-zinc-900/50 rounded-lg p-2.5 w-fit flex items-center backdrop-blur-xs shadow-md shadow-zinc-900/40"
  >
    <div class="relative z-10 flex space-x-6">
      <a
        href="/"
        class={`${Astro.url.pathname === '/' ? 'text-purple-400' : 'text-gray-300'} hover:text-purple-300 transition-colors px-2 py-1`}
        >Home</a
      >
      <a
        href="/blog"
        class={`${Astro.url.pathname === '/blog' || Astro.url.pathname.startsWith('/blog/') ? 'text-purple-400' : 'text-gray-300'} hover:text-white transition-colors px-2 py-1`}
        >Blog</a
      >
      <a
        href="/projects"
        class={`${Astro.url.pathname === '/projects' ? 'text-purple-400' : 'text-gray-300'} hover:text-white transition-colors px-2 py-1`}
        >Projects</a
      >
      <!-- <a href="/shorts" class="text-gray-300 hover:text-white transition-colors px-2 py-1">Shorts</a> -->
      <a
        href="/about"
        class={`${Astro.url.pathname === '/about' ? 'text-purple-400' : 'text-gray-300'} hover:text-white transition-colors px-2 py-1`}
        >About</a
      >
    </div>
    <div class="relative z-10 w-px h-5 bg-zinc-700 mx-6"></div>
    <div class="relative z-10">
      <button
        class="text-gray-300 hover:text-white transition-colors flex items-center px-2 py-1"
      >
        More <span class="ml-1"> </span>
      </button>
    </div>
  </nav>
</div>